/*                   Обнуление                    */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*                   Шрифты                       */

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/Bebas.woff2') format('woff2'), url('../fonts/Bebas.woff') format('woff'), url('../fonts/Bebas.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue.woff2') format('woff2'), url('../fonts/HelveticaNeue.woff') format('woff'), url('../fonts/HelveticaNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('../fonts/HelveticaNeue-Light.woff2') format('woff2'), url('../fonts/HelveticaNeue-Light.woff') format('woff'), url('../fonts/HelveticaNeue-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

/*                   Общее                        */

body {
    font-family: 'Bebas', sans-serif;
}

.wrapper {
    background: url(../images/bg.png);
    overflow: hidden;
}

.container {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
}

/*                   Стили                        */

/*                   Шапка                        */

.header__inner {
    height: 77px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-item {
    display: inline-block;
    margin-top: 7px;
}

.header__menu-item+.header__menu-item {
    margin-left: 26px;
}

.header__menu-link {
    text-decoration: none;
    color: #B9B9B9;
    transition: all .5s ease;
}

.header__menu-link--activ, .header__menu-link:hover {
    color: #E8663C;
}

.header__btn {
    display: none;
    width: 30px;
    height: 30px;
    border: 2px solid #E8663C;
    border-radius: 5px;
}

.header__btn_row {
    height: 2px;
    width: 15px;
    margin: 5px auto;
    background-color: #E8663C;
}

/*                   Слайдер                      */

.slider {
    padding-bottom: 38px;
}

.slider__inner {
    position: relative;
    margin-bottom: 15px;
}

.slider__inner::after, .slider__inner:before {
    content: "";
    position: absolute;
    height: 61px;
    width: 100vw;
    background: #f2ae9c;
    top: 0;
}

.slider__inner:before {
    right: calc(100% + 10px);
}

.slider__inner::after {
    left: calc(100% + 10px);
}

.slider__item {
    position: relative;
    min-height: 403px;
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__item_min {
    object-fit: cover;
    height: 120px;
    max-width: 140px;
}

.slider__inner_min .slick-slide.slick-active+.slick-slide.slick-active {
    padding-left: 20px;
}

.slider__box {
    position: absolute;
    bottom: 32px;
    left: 34px;
    line-height: 14px;
    color: #fff;
    max-width: 413px;
    background-color: rgba(232, 102, 60, 0.8);
    padding: 22px 20px 25px;
}

.slider__title {
    font-size: 18px;
    margin-bottom: 20px;
}

.slider__text {
    font-family: 'HelveticaNeue';
    font-size: 12px;
}

.slider .slick-arrow {
    position: absolute;
    top: 41%;
    z-index: 10;
    font-size: 0;
}

.slick-prev:before, .slick-next:before {
    display: none;
}

.slider .slick-arrow.slick-prev {
    left: 27px;
}

.slider .slick-arrow.slick-next {
    right: 36px;
}

/*                   Контент                      */

.content {
    margin-bottom: 50px;
}

.content__items {
    display: flex;
    justify-content: space-between;
}

.content__item {
    flex-direction: column;
    max-width: 300px;
}

.content__title {
    display: block;
    color: #e8663c;
    margin-bottom: 30px;
    padding-left: 70px;
    font-size: 18px;
    line-height: 24px;
    position: relative;
}

.content__title_check::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 45px;
    height: 45px;
    background-image: url(../images/content/icon-item1.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content__title_offer::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 50px;
    height: 45px;
    background-image: url(../images/content/icon-item2.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content__title_follow::before {
    content: "";
    position: absolute;
    left: 0;
    top: 2px;
    width: 48px;
    height: 45px;
    background-image: url(../images/content/icon-item3.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.content__text {
    color: #414141;
    letter-spacing: 0.1px;
    padding-right: 20px;
    font-family: 'HelveticaNeue';
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
}

.content__link {
    color: #fff;
    background-color: #e8663c;
    font-size: 12px;
    line-height: 12px;
    text-decoration: none;
    padding: 7px 16px 8px 13px;
    transition: all 0.5s;
}

.content__link:hover {
    color: #e8663c;
    background-color: #fff;
}

/*                   Презент                      */

.present {
    padding-bottom: 44px;
}

.present__header {
    background: url(../images/present/line.jpg);
    margin-bottom: 24px;
}

.present__text {
    line-height: 22px;
    word-spacing: 3px;
    display: inline-block;
    padding-right: 20px;
    background-image: url(../images/bg.png);
    font-size: 18px;
    color: #e8603c;
}

.present__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.present__item {
    text-decoration: none;
    transition: all 0.2s;
    margin-bottom: 20px;
}

.present__item:hover {
    transform: scale(1.1);
}

.present__img {
    max-width: 220px;
    height: 183px;
    object-fit: none;
}

.present__info {
    padding: 12px;
    border: 1px solid #dbdbdb;
    border-top: none;
}

.present__title {
    font-size: 16px;
    line-height: 18px;
    /* word-spacing: 10px; */
    color: #b9b9b9;
    margin-bottom: 5px;
}

.present__data {
    font-size: 11px;
    line-height: 18px;
    color: #e8663c;
}

/*                   Подвал                      */

.footer__inner {
    position: relative;
    background-color: #e8663c;
    padding: 40px 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #fff;
}

.footer__inner::after, .footer__inner:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    background: #f2ae9c;
    top: 0;
}

.footer__inner:before {
    right: calc(100% + 10px);
}

.footer__inner::after {
    left: calc(100% + 10px);
}

.footer__item {
    max-width: 260px;
    font-family: 'HelveticaNeue';
    font-size: 12px;
    line-height: 16px;
}

.footer__title {
    font-family: 'Bebas';
    font-size: 20px;
    margin-bottom: 25px;
}

.footer__text {
    margin-bottom: 20px;
}

.footer__item_text {
    text-decoration: none;
    font-weight: 300;
    color: #f3b29d;
    transition: all 0.5s;
}

.footer__item_text:hover {
    color: #fff;
}

.footer__item_subtext {
    font-weight: 300;
    display: block;
    margin: 8px 0px 20px;
    color: #f3b29d;
}

.footer__item_text-link, .footer__item_namber {
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}

.footer__item_text-link:hover, .footer__item_namber:hover {
    transform: scale(1.1);
}

.footer__social_item {
    margin-top: 18px;
}